*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:root {
  box-sizing: border-box;
  cursor: default;
  /* font: 16px/1.5 'Roboto', sans-serif; */
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@font-face{
  font-family: Dela Gothic One;
  src: url(font/DelaGothicOne-Regular.ttf);
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 84rem;
  background-color: #F1EEE5;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

header nav {
  display: flex;
}

header nav a {
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: color 200ms ease;
  font-size: 14pt;
  font-family: Dela Gothic One;
}

header nav a:hover {
  color: #256042;
}

main, footer {
  text-align: center;
}

section.title {
  margin-top: 7rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (min-width: 30rem) {
  section.title {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
  }
}

p.info {
  margin: 3rem 0;
  font-size: 2rem;
  color: #000000;
  font-weight: 300;
  line-height: 1.75em;
  font-family: 'Montserrat', sans-serif;
}

a.cta {
  margin-bottom: 4rem;
  padding: 0.6rem 4.2rem;
  border-radius: 8px;
  border: 0px solid hsl(0, 49%, 9%);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #256042;
  font-size: 1.5rem;
  color: white;
  transition: color 200ms ease;
  position: relative;
  z-index: 100;
  font-family: Dela Gothic One;
}


a.cta:before {
  content: '';
  border-radius: 5px;
  background: white;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: opacity 200ms ease;
  font-family: Dela Gothic One;
}


img.logo {
  margin-left: 12px;
  margin-right: auto;
  width: 50px;
  height: 50px;
}
